.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 250px;
    font-family: sans-serif;
    font-size: 15px;
}

.footer {
    color: cornflowerblue;
    margin-top: auto;
    margin-bottom: 30px;
}

.header {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.threadPage {
    margin-top: 60px;
}

body {
    background: scroll #211F1A url('muon_bg.jpg') repeat;
    /*min-height: 100vh;*/
    margin: 0;
    color: #C6985C;

}

.post {
    display: table;
    background: url('muon_posts.jpg') #292825;
    border: 1px solid #34352D;
    padding: 10px;
    margin-top: 15px;
}

.postQuote {
    display: table;
    padding: 7px;
    background: url('muon_posts.jpg') #292825;
    color: #C6985C;
    font-size: 15px;

}

.threadPage .threadlink {
    display: none;
}

.threadlink {
    text-decoration: none;
    margin-left: 1%;
}

.text {
    overflow: auto;
    word-wrap: anywhere;
}

.thread {
    clear: both;
}

.opPostHeader {
    color: #9B8165;
}

.postHeader {
    color: #9B8165;
    margin-bottom: 5px;
}

.image {
    margin-right: 25px;
    max-width: 1000px;
}

.imagediv {
    float: left;
}

.video-div {
    float: left;
}

.imagediv-expanded {
    display: table;
}

.imagediv a {
    float: left;
}

div iframe {
    width: 640px;
    height: 360px;
    border: none;
}

details {
    margin-bottom: 20px;
    margin-top: 3%;
    clear: both;
}

summary {
    /*margin-left: 45%;*/
    margin-bottom: 2%;
    list-style: none;
    /*display: inline;*/
    display: flex;
    justify-content: center;
}

#postForm {
    width: max-content;
    margin: 2% auto auto;
    background: #3E3C38 url('muon_inputs.jpg');
    border: 1px solid gray;
}

#quickPostForm {
    position: fixed;
    left: 30%;
    top: 40%;
    background: #3E3C38 url('muon_inputs.jpg');
    border: 1px solid gray;
}

textarea {
    background: inherit;
    color: #FEC77D;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: none;
    display: block;
    width: calc(99%);
    /*width: -moz-available;*/
    /*width: -webkit-fill-available;*/
    /*width: fill-available;*/
}

.errorlist {
    color: red;
    text-align: center;
    clear: both;
    list-style: none;
    margin-bottom: 1%;
}

input {
    background: inherit;
    outline: none;
    color: #FEC77D;
    border: 1px solid gray;
    flex-grow: 1;
}

#quickPostHeader {
    padding: 7px;
}

.postHeader a {
    color: inherit;
}

form {
    margin-left: auto;
    margin-right: auto;
}

#id_file {
    clear: both;
    width: 200px;
}

#id_captcha_1 {
    line-height: 3;
    width: 70px;
}

.captcha {
    float: left;
    width: 70px;
}


/*@media only screen and (hover: none) and (pointer: coarse) {*/
@media only screen and (max-width: 768px) {
    #quickPostForm {
        left: 0;
        position: sticky;
        bottom: 0;
    }
    .image {
        max-width: 150px;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
    }
}

a {
    color: #FFD97A;
    text-decoration: none
}

#showFormButton {
    font-size: large;
    color: #FFD97A;
    cursor: pointer;
}
#showFormButton:hover {
    color: #a74300;
}

.imglink {
    font-size: 11px;
}

.info {
    color: red;
    text-align: center;
}

.tippy-content {
    font-size: 14px;
    /*white-space: pre-line;*/
    border: 1px solid #34352D;
    display: flex;
    padding: 0;
}

.postcount {
    font: caption;
    color: #9B8165;
    clear: both;
}

hr {
    clear: both;
    border-color: dimgrey
}

.navdiv-bottom a {
    margin-right: 5px;
    cursor: pointer;
}

.navdiv-top a {
    margin-right: 5px;
    cursor: pointer;
}

.reply {
    font-size: x-small;
}

.quote {
    font-size: small;
}

.replies {
    margin-top: 10px;
}

.page-link {
    font-size: large;
}

.spoiler {
    background-color: black;
    color: black;
}

.spoiler:hover {
    color: white;
}

.roll {
    background-color: green;
    color: black;
}

.postLink {
    color: #9B8165;
}

.video-close-btn {
    float: right;
    margin-right: 3%;
    margin-bottom: 1%;
    cursor: pointer;
    margin-left: 2%;
}

.video-expanded {
    width: 100%;
    max-height: 500px;
}

.video-link {
    font-size: 11px;
    /*    display: inline-block;*/
}

.video-thumb {
    margin-right: 25px;
    border: 1px dashed;
}

@media only screen and (max-width: 400px) {
    .text {
        overflow: visible;
    }
}

.clear-file-btn {
    background-color: inherit;
    border: none;
    font-size: 15px;
    padding: 0 10px 0 10px;
    cursor: pointer;
    visibility: hidden;
}

.func-btn {
    color: grey;
    cursor: pointer;
    font-size: x-large;
}

#num {
    font-weight: bold;
    color: #FFD97A;
}

.post-frm-btn {
    float: right;
    background: darkgray;
    border: none;
}

a:hover {
    color: #a74300
}

.markup {
    background: darkgray;
    border: 1px solid black;
    cursor: pointer;
}

.btn-s {
    text-decoration: line-through;
}
.btn-i {
    font-style: italic;
}
.btn-b {
    font-weight: bold;
}

