.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 250px;
    font-family: sans-serif;
    font-size: 15px;
}

.footer {
    color: cornflowerblue;
    margin-top: auto;
    margin-bottom: 30px;
}

.header {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.threadPage {
    margin-top: 60px;
}

body {
    background: var(--bg-color);
    /*min-height: 100vh;*/
    margin: 0;
    color: var(--body-clr);

}

.post {
    display: table;
    background: var(--post-bg);
    border: var(--post-border);
    padding: 10px;
    margin-top: 15px;
}

.postQuote {
    display: table;
    padding: 7px;
    background: var(--post-bg);
    color: var(--body-clr);
    font-size: 15px;

}

.threadPage .threadlink {
    display: none;
}

.threadlink {
    text-decoration: none;
    margin-left: 1%;
}

.text {
    overflow: auto;
    word-wrap: anywhere;
    max-height: 600px;
}

.thread {
    clear: both;
}

.opPostHeader {
    color: var(--op-post-header-clr);
}

.postHeader {
    color: var(--post-header-clr);
    margin-bottom: 5px;
}

.image {
    margin-right: 25px;
    max-width: 1000px;
}

.imagediv {
    float: left;
}

.video-div {
    float: left;
}

.imagediv-expanded {
    display: table;
}

div iframe {
    width: 640px;
    height: 360px;
    border: none;
}

details {
    margin-bottom: 20px;
    margin-top: 3%;
    clear: both;
}

summary {
    /*margin-left: 45%;*/
    margin-bottom: 2%;
    list-style: none;
    /*display: inline;*/
    display: flex;
    justify-content: center;
}

#postForm {
    width: max-content;
    margin: 2% auto auto;
    background: var(--post-frm-bg);
    border: var(--input-border);
    padding: 1px;
}

#quickPostForm {
    position: fixed;
    left: 30%;
    top: 40%;
    background: var(--post-frm-bg);
    border: var(--input-border);
    padding: 3px;
}

textarea {
    background: inherit;
    color: var(--input-field);
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: none;
    display: block;
    width: calc(99%);
}

.errorlist {
    color: red;
    text-align: center;
    clear: both;
    list-style: none;
    margin-bottom: 1%;
}

input {
    background: inherit;
    outline: none;
    color: var(--input-field);
    border: var(--input-border);
    flex-grow: 1;
}

#quickPostHeader {
    padding: 7px;
}

.postHeader a {
    color: inherit;
}

form {
    margin-left: auto;
    margin-right: auto;
}

#id_file {
    clear: both;
    width: 200px;
}

#id_captcha_1 {
    line-height: 3;
    width: 70px;
}

.captcha {
    float: left;
}

#showFormButton {
    font-size: large;
    color: var(--form-btn-clr);
    cursor: pointer;
}

#showFormButton:hover {
    color: var(--btn-onhover);
}

.imglink {
    font-size: 11px;
}

.info {
    color: red;
    text-align: center;
}

.tippy-content {
    font-size: 14px;
    /*white-space: pre-line;*/
    border: 1px solid #34352D;
    display: flex;
    padding: 0;
}

.postcount {
    font: caption;
    color: var(--post-count-clr);
    clear: both;
}

hr {
    clear: both;
    border-color: dimgrey
}

.navdiv-bottom a {
    margin-right: 5px;
    cursor: pointer;
}

.navdiv-top a {
    margin-right: 5px;
    cursor: pointer;
}

.reply {
    font-size: x-small;
}

.quote {
    font-size: small;
}

.replies {
    margin-top: 10px;
}

.page-link {
    font-size: large;
}

.spoiler {
    background-color: black;
    color: black;
}

.spoiler:hover {
    color: white;
}

.roll {
    color: yellow;
}

.postLink {
    color: var(--post-link-clr);
}

.video-close-btn {
    margin-right: 3%;
    margin-bottom: 1%;
    cursor: pointer;
    margin-left: 2%;
    font-size: large;
}

.post .video-close-btn {
    float: right;
}

.video-expanded {
    /*width: 100%;*/
    max-height: 500px;
}

.video-link {
    font-size: 11px;
    /*    display: inline-block;*/
}

.video-thumb {
    margin-right: 25px;
    border: 1px dashed;
}

@media only screen and (max-width: 400px) {
    .text {
        overflow: visible;
    }
}

.clear-file-btn {
    background-color: inherit;
    border: none;
    font-size: 15px;
    padding: 0 10px 0 10px;
    cursor: pointer;
    visibility: hidden;
}

.func-btn {
    color: grey;
    cursor: pointer;
    font-size: x-large;
}

#num {
    font-weight: bold;
    color: var(--link-clr);
}

.post-frm-btn {
    background: var(--post-form-btn-bg);
    color: var(--post-form-btn-clr);
    float: right;
    line-height: 2;
    border: none;
}

.post-frm-btn:hover {
    box-shadow: inset 0 0 4px 1px #9B8165;
}

a {
    color: var(--link-clr);
    text-decoration: none;
}

a:hover {
    color: var(--btn-onhover);
}

.markup {
    background: darkgray;
    border: 1px solid black;
    cursor: pointer;
}

.btn-s {
    text-decoration: line-through;
}

.btn-i {
    font-style: italic;
}

.btn-b {
    font-weight: bold;
}

.catalog-thread {
    display: inline-block;
    vertical-align: top;
}

.catalog-thread-text {
    display: block;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    padding: 4%;
    column-width: 300px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px
}

.catalog-thread .postcount {
    text-align: center;
}

.catalog-thread .image {
    max-width: 150px;
    margin-left: 25px;
}

.catalog-thread .video-div, .catalog-thread .imagediv {
    text-align: center;
    float: none;
}

.catalog-thread .imagediv a {
    float: none;
}

@media (max-width: 768px) {
    #quickPostForm {
        left: 0;
        position: sticky;
        bottom: 0;
    }

    .image {
        max-width: 150px;
    }

    .container {
        margin-left: 0;
        margin-right: 0;
    }

    .catalog-thread-text {
        max-width: 150px;
    }

    .imagediv, .video-div{
        float: none;
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    .text {
        max-height: none;
    }
}

td, th {
    padding: 5px;
    border: 1px solid #4d4c4c;
}

table {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    line-height: 1;
}


#expanded-img {
    width: 100%;
    height: 100%;
}

#expanded-img-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 8px 8px;
    background-color: rgb(85, 85, 85);
}

#theme-select {
    float: right;
    margin-left: 3%;
    background: var(--bg-color);
    border: var(--input-border);
    color: var(--body-clr);
}
