{% load static %}
{% load bbcode_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/css.css' %}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
  <title>{{ thread.text|default:board|truncatechars:50 }}</title>
</head>
<body>
{% include 'header.html' %}
{% for field, error in form.errors.items %}
  <div class="errorlist">{{ error.as_text }}</div>
{% endfor %}
{% block content %}
{% endblock content %}
{% include 'footer.html' %}
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/tippy-bundle.umd.js' %}"></script>
<script src={% static "js/js.js" %}></script>
</body>
</html>