{% load static %}
{% load bbcode_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, height=device-height, initial-scale=0.9">
  <link id="theme" href="{% static 'css/kovrach.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
  <title>{{ thread.text|default:board|truncatechars:50 }}</title>
  <script>
      if (!localStorage.getItem('theme')) {
          localStorage.setItem('theme', 'kovrach');
      }
      let theme = localStorage.getItem('theme');
      document.getElementById('theme').href = '/static/css/' + theme + '.css';
      window.addEventListener('DOMContentLoaded', () => {
          document.getElementById('theme-select').value = theme;
      })
  </script>
</head>
<body>
{% include 'header.html' %}
{% for field, error in form.errors.items %}
  <div class="errorlist">{{ error.as_text }}</div>
{% endfor %}
{% block content %}
{% endblock content %}
<div id="foreground-div"></div>
{% include 'footer.html' %}
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/tippy-bundle.umd.js' %}"></script>
<script src={% static "js/js.js" %}></script>
</body>
</html>
