{% load i18n %}
{% include '_base.html' %}
{% block content %}
  <ul style="text-align: center; display: inline">
    <li>{% translate 'Posts today:' %} {{ plast24h }}</li>
    <li>{% translate 'Threads total: ' %} {{ tcount }}</li>
    <li>{% translate 'Posts total: ' %} {{ pcount }}</li>
    <li>{% translate 'Boards total: ' %} {{ bcount }}</li>
    <li>{% translate 'Last post: ' %} {{ lastp_date|date:'d/m/Y, H:i' }}</li>
    <li>{% translate 'First post: ' %} {{ firstp_date|date:'d/m/Y, H:i' }}</li>
  </ul>
{% endblock %}