{% load extra %}
{% load i18n %}
<article class="opPost" id="id{{ thread.pk }}" data-id="{{ thread.pk }}">
  <div class="opPostHeader">
    <span>
      <span class="poster"> {{ thread.poster }}</span>
      <span class="date" data-unixtime="{{ thread.date|date:"U" }}">{{ thread.date|date:'d/m/Y, H:i:s' }}</span>
      №:<a class="postLink" href="#id{{ thread.pk }}">{{ thread.pk }}</a>
    </span>
    <a class="threadlink" href="{{ thread.get_absolute_url }}">{% translate 'Reply' context 'into thread' %}</a>
  </div>
  {% if thread.video_thumb %}
    <div class="video-link">
      <a target="_blank" href="{{ thread.video.url }}">{{ thread.video.name|strippath|truncatechars:33 }}</a>
      ({{ thread.video.size|filesizeformat }})
    </div>
    <div class="video-div">
      <a target="_blank" href="{{ thread.video.url }}">
        <img loading="lazy" class="video-thumb" src="{{ thread.video_thumb.url }}" alt="">
      </a>
    </div>
  {% endif %}
  {% if thread.thumbnail %}
    <div class="imglink">
      <a target="_blank" href="{{ thread.image.url }}">{{ thread.image.url|strippath|truncatechars:33 }}</a>
      ({{ thread.image.size|filesizeformat }})
    </div>
    <div class="imagediv">
      <a href="{{ thread.image.url }}">
        <img class="image" src="{{ thread.thumbnail.url }}" alt="">
      </a>
    </div>
  {% endif %}
  <div class="text">{% customize_post_string thread.text thread.pk posts_ids thread.pk %}
    <div class="replies"></div>
  </div>
</article>