{% load extra %}
<article data-id="{{ post.pk }}" id="id{{ post.pk }}" class="post">
  <div class="postHeader">{{ post.poster }}
    <span class="date" data-unixtime="{{ post.date|date:"U" }}">{{ post.date|date:'d/m/Y, H:i:s' }}</span>
    №:<a class="postLink" href="{{ thread.get_absolute_url }}#id{{ post.pk }}">{{ post.pk }}</a>
    <div id="voting" style="display: inline-block">
      <button id="downvote" type="button" onclick="vote(this, 0)">-</button>
      <span id="vote" style="color: red">{{ post.vote }}</span>
      <button id="upvote" type="button" onclick="vote(this, 1)">+</button>
    </div>
  </div>
  {% if post.video_thumb %}
    <div class="video-link">
      <a target="_blank" href="{{ post.video.url }}">{{ post.video.name|strippath|truncatechars:33 }}</a>
      ({{ post.video.size|filesizeformat }})
    </div>
    <div class="video-div">
      <a target="_blank" href="{{ post.video.url }}">
        <img loading="lazy" class="video-thumb" src="{{ post.video_thumb.url }}" alt="">
      </a>
    </div>
  {% endif %}
  {% if post.thumbnail %}
    <div class="imglink">
      <a target="_blank" href="{{ post.image.url }}">{{ post.image.name|strippath|truncatechars:33 }}</a>
      ({{ post.image.size|filesizeformat }})
    </div>
    <div class="imagediv">
      <a href="{{ post.image.url }}"><img loading="lazy" class="image" src="{{ post.thumbnail.url }}" alt=""></a>
    </div>
  {% endif %}
  <div class="text">{% customize_post_string post.text thread.pk posts_ids post.pk %}</div>
  <div class="replies"></div>
</article>
