{% load static %}
{% load i18n %}
<form hidden id="quickPostForm" action="" method="post"
      enctype="multipart/form-data">
  <img loading="lazy" id='closebutton' alt="Close" style="float: left" src="{% static 'closebutton.svg' %}">
  <div id='quickPostHeader' style="cursor: move; text-align: center">
    <span>{% translate 'Reply to the thread' %}</span>
    <span id="num"></span>
  </div>
  <div style="display: flex;">
    {{ form.poster }}
    <button class='post-frm-btn' type="submit">{% translate 'Send' %}</button>
  </div>
  {{ form.text }}
  <div style="border: 1px solid black">
    <button tabindex="-1" type="button" class="markup btn-s" onclick="markUpBtn(this, '[s]', '[/s]')">[S]</button>
    <button tabindex="-1" type="button" class="markup btn-i" onclick="markUpBtn(this, '[i]', '[/i]')">[I]</button>
    <button tabindex="-1" type="button" class="markup btn-b" onclick="markUpBtn(this, '[b]', '[/b]')">[B]</button>
    <button tabindex="-1" type="button" class="markup btn-spoiler" onclick="markUpBtn(this, '[spoiler]', '[/spoiler]')">[&nbsp]</button>
    <button tabindex="-1" type="button" class="markup arrow" onclick="markUpBtn(this, '>', '')">[>]</button>
    <button tabindex="-1" type="button" class="markup" onclick="markUpBtn(this, '[roll]', '')">[roll]</button>
  </div>
  <div>{{ form.captcha }}</div>
  <input type="hidden" name="board" value="{{ board }}">
  {{ form.thread_id.as_hidden }}
  <div style="clear: both">
    {{ form.file }}
    <button class="clear-file-btn" type="button">❌</button>
  </div>
  <div hidden class="errorlist"></div>
</form>
