{% load static %}
<form hidden id="quickPostForm" action="" method="post"
      enctype="multipart/form-data">
  <img loading="lazy" id='closebutton' alt="Close" style="float: left" src="{% static 'closebutton.svg' %}">
  <div id='quickPostHeader' style="cursor: move; text-align: center"><span>Ответить в тред</span>
  </div>
  {% csrf_token %}
  <div style="display: flex;">
    {{ form.poster }}
    <button id='quickPostBtn' style="float: right" type="submit">Отправить</button>
  </div>
  {{ form.text }}
  {{ form.threadnum.as_hidden }}
  {{ form.captcha }}
  {{ form.file }}
  <div hidden class="errorlist">Ошибка в капче</div>
</form>
