<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
{% for t in threads %}
    {# Each "contact" is a Contact model object. #}
    {{ t.text }}<br>
  {% for a in t.post_set.all|slice:":4" %}
    {{ a.text }}
    {% endfor %}
    ...
{% endfor %}

  <!-- Pagination -->
  <div class='pagination justify-content-center'>
    {% if threads.has_previous %}
      <a href='{% url "list_threads" threads.previous_page_number %}'>Previous </a>
    {% endif %}

    <span class='mx-4'>
      Page {{ threads.number }} of {{ threads.paginator.num_pages }}
    </span>

    {% if threads.has_next %}
      <a href='{% url "list_threads" threads.next_page_number %}' > Next</a>
    {% endif %}
  </div>
  <!-- END Pagination -->
</div>
</body>
</html>