{% extends '_base.html' %}
{% block content %}
  <div class="container threadPage">
    <div class="navdiv-top">
      <a href="../../">Back</a>
      <a href="#bottom">Bottom</a>
    </div>
    <hr>
    <section class="thread" data-threadid="{{ thread.pk }}">
      {% include 'OPpost.html' %}
      {% for post in thread.post_set.all %}
        {% include 'post.html' %}
      {% endfor %}
    </section>
    <hr>
    <div class="navdiv-bottom">
      <a href="../../">Back</a>
      <a href="#top">Top</a>
      <a class="js-fetch-new-posts">Load new posts</a>
      <span hidden id="fetchStatus">No new posts</span>
    </div>
    {% include 'postform.html' with postformbutton='Ответить' %}
    {% include 'quickpostform.html' %}
    <div id="bottom"></div>
  </div>
    <!-- <script>
    // {% if scrolldown is True %}
    //     document.querySelector('details').open = true;
    //     document.querySelector('details').scrollIntoView();
    // {% endif %}
    </script> -->
{% endblock content %}
