{% extends '_base.html' %}
{% load i18n %}
{% block content %}
  <div class="container threadPage">
    <div class="navdiv-top">
      <a href="../../">{% translate 'Back' %}</a>
      <a href="#bottom">{% translate 'Bottom' %}</a>
    </div>
    <hr>
    <section class="thread" data-threadid="{{ thread.pk }}">
      {% include 'OPpost.html' %}
      {% for post in thread.post_set.all %}
        {% include 'post.html' %}
      {% endfor %}
    </section>
    <hr>
    <div class="navdiv-bottom">
      <a href="../../">{% translate 'Back' %}</a>
      <a href="#top">{% translate 'Top' %}</a>
      <a class="js-fetch-new-posts">{% translate 'Update' %}</a>
      <span hidden id="fetchStatus">{% translate 'No new posts' %}</span>
    </div>
    {% translate 'Reply' as btn %}
    {% include 'postform.html' with postformbutton=btn %}
    {% include 'quickpostform.html' %}
    <div id="bottom"></div>
  </div>
{% endblock content %}
